/* faktumTest */
@font-face {
  font-family: "faktumTest";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("https://d3gurpvil0se70.cloudfront.net/thirds/fonts/FaktumTest/Faktum_Test_Thin.otf")
    format("opentype");
  unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19,
    U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}

@font-face {
  font-family: "faktumTest";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("https://d3gurpvil0se70.cloudfront.net/thirds/fonts/FaktumTest/Faktum_Test_Light.otf")
    format("opentype");
  unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19,
    U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}

@font-face {
  font-family: "faktumTest";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://d3gurpvil0se70.cloudfront.net/thirds/fonts/FaktumTest/Faktum_Test_Regular.otf")
    format("opentype");
  unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19,
    U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}

/* futura */
@font-face {
  font-family: "futura";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("https://d3gurpvil0se70.cloudfront.net/thirds/fonts/Futura/Futura-Light.ttf")
    format("truetype");
  unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19,
    U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}
@font-face {
  font-family: "futura";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("https://d3gurpvil0se70.cloudfront.net/thirds/fonts/Futura/Futura-ExtraLight.ttf")
    format("truetype");
  unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19,
    U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}
@font-face {
  font-family: "futura";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://d3gurpvil0se70.cloudfront.net/thirds/fonts/Futura/Futura-Medium.ttf")
    format("truetype");
  unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19,
    U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}
@font-face {
  font-family: "futura";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://d3gurpvil0se70.cloudfront.net/thirds/fonts/Futura/Futura-SemiBold.ttf")
    format("truetype");
  unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19,
    U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}
@font-face {
  font-family: "futura";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("https://d3gurpvil0se70.cloudfront.net/thirds/fonts/Futura/Futura-Bold.ttf")
    format("truetype");
  unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19,
    U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}

/* pretendard */
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("https://d3gurpvil0se70.cloudfront.net/thirds/fonts/Pretendard/Pretendard-Thin.woff")
    format("woff");
  unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19,
    U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}

@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("https://d3gurpvil0se70.cloudfront.net/thirds/fonts/Pretendard/Pretendard-ExtraLight.woff")
    format("woff");
  unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19,
    U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}

@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("https://d3gurpvil0se70.cloudfront.net/thirds/fonts/Pretendard/Pretendard-Light.woff")
    format("woff");
  unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19,
    U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}

@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://d3gurpvil0se70.cloudfront.net/thirds/fonts/Pretendard/Pretendard-Regular.woff")
    format("woff");
  unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19,
    U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}

@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 500;
  src: url("https://d3gurpvil0se70.cloudfront.net/thirds/fonts/Pretendard/Pretendard-Medium.woff")
    format("woff");
  unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19,
    U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}

@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("https://d3gurpvil0se70.cloudfront.net/thirds/fonts/Pretendard/Pretendard-SemiBold.woff")
    format("woff");
  unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19,
    U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}

@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://d3gurpvil0se70.cloudfront.net/thirds/fonts/Pretendard/Pretendard-Bold.woff")
    format("woff");
  unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19,
    U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}

@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("https://d3gurpvil0se70.cloudfront.net/thirds/fonts/Pretendard/Pretendard-ExtraBold.woff")
    format("woff");
  unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19,
    U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("https://d3gurpvil0se70.cloudfront.net/thirds/fonts/Pretendard/Pretendard-Black.woff")
    format("woff");
  unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19,
    U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}
