@import url("https://d3gurpvil0se70.cloudfront.net/thirds/css/ysmedi/font_20230607122900.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-center-column {
    @apply flex flex-col items-center justify-center;
  }

  .flex-start-column {
    @apply flex flex-col items-start justify-center;
  }
}

.therfect-slide-center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  white-space: pre-wrap;
  height: -webkit-fill-available;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.swiper {
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  height: 0;
}

.text-shadow {
  text-shadow: 4px 4px 4px rgba(211, 76, 0, 0.25);
}

table {
  border-collapse: collapse;
}

table {
  text-align: left;
}

table,
tr {
  border-top: 1.2px solid black;
  border-bottom: 1.2px solid black;
  border-collapse: collapse;
}

td {
  padding-top: 30px;
  padding-bottom: 30px;
  vertical-align: baseline;
  border-collapse: collapse;

  @media (max-height: 800px) {
    padding-top: 17px;
    padding-bottom: 17px;
  }
}

table.mobile {
  border-collapse: collapse;
}

table.mobile td {
  padding-top: 14px;
  padding-bottom: 14px;
}

table.mobile table {
  border-top: 0px solid black;
  border-bottom: 0px solid black;
}

table.mobile table tr {
  border-top: 0px solid black;
  border-bottom: 0px solid black;
}
