@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-center-column {
    @apply flex flex-col items-center justify-center;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: black;
  max-width: 100%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.swiper {
  width: 100vw;
  height: 100vh;
}
